<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="key-pad-styles.html">
<!--
`key-pad`
A custom UI keypad

@demo demo/index.html 
-->
<dom-module id="key-pad">
    <style include="key-pad-styles"></style>
    <template>
        <div class="keypad-wrapper">
            <div class="row">
                <div class="col">
                    <div class="container-text"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container-points">
                        <div class="blue-points">
                            <div ng-repeat="i in vm.getInputLength() track by $index" class="point point-border-blue" ng-class="'point'+{{$index+1}}">
                            </div>
                        </div>
                        <div ng-click="vm.resetInput()">
                            <div class="icon-san san-close text color-cyan-light"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-wrapper">
                <div ng-repeat-start="group in vm.keypadNums" ng-if="!$last" class="row">
                    <div ng-repeat="n in group" class="col">
                        <button on-tap="vm.onTapNumber(n)">{{::n}}</button>
                    </div>
                </div>
                <div ng-repeat-end ng-if="$last" class="row">
                    <div ng-repeat="n in group" class="col col-offset-33">
                        <button on-tap="vm.onTapNumber(n)">{{::n}}</button>
                    </div>
                    <div class="col">
                        <button class="ok animated" ng-click="vm.onTapOk()" ng-disabled="vm.disabledOk">
                            <span class="icon-san san-ok text"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script src="key-pad.js"></script>
</dom-module>
